<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Insert title here</title>
</head>
	<body>
		<h1>Cadastro Pessoa</h1>
		<form action="pessoa" method="POST">
			<label>Nome</label>
			<input name="nome">
			<label>Sobrenome</label>
			<input name="sobrenome">
			<label>Idade</label>
			<input name="idade" type="number">
			<input type="submit" value="Salvar">	
		</form>
		
		<a href="/pessoas">Listar Pessoas</a>
		
		
		<table>
			<tr th:each = "pessoa : ${pessoas}">
				<td th:text = "${pessoa.id}"></td>
				<td th:text = "${pessoa.nome}"></td>
				<td th:text = "${pessoa.sobrenome}"></td>
			</tr>
		
		</table>
		
	</body>
</html>